body {
  background: #a3a8ad url(./img/background-1.png) 0 0 repeat-x;
	background-attachment:fixed;
	font:14px/24px Arial,Helvetica,sans-serif;
	color:#333;
}

@font-face {
    font-family: myFirstFont;
    src: url("./font/LibreBaskerville-Bold.otf");
}
@font-face {
  font-family: mySecondFont;
  src: url("./font/Cambo-Regular.otf");
}
#main {
  background-color: rgb(255, 255, 255);
  width: 850px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  margin-bottom: 30px;
  box-shadow: -1px 0px 3px 5px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
}

#top_content {

  width: 850px;
  height: 300px;


}
#picture img{

  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 30px;
  margin-top: 25px;
  padding: 10px;
  width: 168px;
  height: 180px;
  box-shadow: 0px 3px 2px 2px rgba(0, 0, 0, 0.2);
}

#resume-top {
  margin-right: 30px;
  margin-top: 10px;
  width: 600px;
  height: 240px;
  float: right;

}

#resume-top h2 {

  color: rgb(77, 169, 254);
}

.border {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  background: transparent url("./img/separator.png") repeat-x scroll 0px 0px;
  height: 2px;
  margin-bottom: 32px;
}

#middle_content {
  height: 900px;
  margin-left: 30px;
  margin-right: 20px;
}
#middle_content .list > li{
  border: 1px dashed #AFAFAF;
  list-style-type:none;

}

.big_title {
  margin-left: 20px;
  font-family: myFirstFont;
  text-shadow: -1px 2px rgba(0, 0, 0, 0.2);
}

/*Titre des encadrés main*/
.title {
  font-family: myFirstFont;
  font-weight: bold;
  margin-left: 20px;
  color:rgb(16, 97, 128);

}

.description {
  font-family: mySecondFont;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
/*Met les couleurs dans les encadrés de main*/
.cadre {
  background: rgb(230, 230, 230) none repeat scroll 0% 0%;
}
/*bouton sociaux*/
.icon_contact {
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 10px;
}

.icon_contact:hover {
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.icon_contact:active {
  box-shadow: 0px 2px 2px 1px rgba(23, 108, 150, 0.5);
}
/*box_exp*/
.box_exp {
  font-family: none;
  font-size:14px;
  margin-left:10px;
  display:inline;
  background:#2F597F;
  color:#fff;
  width:150px;
  text-align:center;
  padding: 3px 10px 3px 10px;
  font-weight:normal;
  line-height:26px;
  clear:right;
  }

/**/
.bouton
{
    color:#0000ff;
    font-size:24px;
    cursor:pointer;
}
.bouton:hover
{
    text-decoration:underline;
}
.texte
{
    border:1px solid #333333;
    background:#eeeeee;
    padding:10px;
    color:#333333;
    display: none;
}
.texte:hover
{
    border:1px solid #000000;
    background:#cccccc;
    color:#000000;
}
